@font-face {
    font-family: "momentum";
    src: 
        url("../font/meteocons-webfont.eot") format("eot"),
        url("../font/meteocons-webfont.ttf") format("truetype"),
        url("../font/meteocons-webfont.svg") format("svg"),
        url("../font/meteocons-webfont.woff") format("woff");
}

body {
    margin: 0px;
}

.background-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index: -90;
}

.background__video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.main {
    display: none;
    font-family: Helvetica;
}

.content {
    display: inline-block;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 99%;
}

.content__time {
    font-size: 80px;
    margin-top: 40px;
}

.content__name {
    font-size: 100px;
}

.bookmarks {
    padding: 10px;
    text-align: center;
    position: relative;
    top: 20px;
}

.bookmarks__bookmarks-list {
    text-align: center;
    display: inline-block;
}

.bookmarks-list__bookmark {
    color: white;
    display: inline-block;
    float: left;
    background-color: rgba(255,255,255,0.5);
    transition: all 0.2s ease;
    margin-right: 20px;
    border-radius: 50%;
    font-size: 20px;
    width: 26px;
    height: 26px;
    padding: 11px;
    text-align: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.bookmarks-list__bookmark:hover {
    box-shadow: none;
}

.bookmark__content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    margin: 0px;
}

.bookmark__link {
    color: white;
    text-decoration: none;
}

.bookmark__link:visited {
    color: white;
    text-decoration: none;
}

.context_menu {
    display: inline-block;
    border: solid #cccccc 1px;
    min-width: 176px;
}

.action-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.action-list__action {
    padding: 10px 12px;
    font-size: 14px;
}

.action-list__action:hover {
    background-color: #c2c2c2;
}